@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', arial;
    display: block;
    background-color: #EEEEEE;
}

.mebw{
    margin-top: -8px;
    width: 456px;
    height: 730px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

a{
    text-decoration: none;
}

nav{
    position: relative;
    height: 74px;
    margin-top: -8px;
    margin-left: -9px;
    background: #E1E1E1;
    display: flex;
    padding: 1em;
    float: left;

    .home{
        margin-top: 20px;
        margin-left: 50px;
    }

    header{
        margin-top: 23px;
        margin-left: 59px;
        ul{
            display: flex;
            a, a:visited, a:active{
                color: black;
                display: block;
                padding: 0 1em;
            }

            a:hover{
                color: #4a4a4a
            }
        }  
    }

    svg{
        margin-top: 15px;
        margin-left: 50px;
    }

    .socials{
        margin-top: 15px;
        margin-left: 50px;

        img{
            width: 50%;
        }

        ul{
            display: flex;
            a, a:visited, a:active{
                color: black;
                padding: 0 0.7em;
            }

            a:hover{
                color: #4a4a4a
            }
        }
    }
}

.introduction{
    margin-top: -548px;
    margin-left: -5px;
    width: 520px;
    height: 520px;
    border-radius: 50%;
    background: white;
    border-bottom-left-radius: 0;
    padding: 10px;
    align-items: center;
    display: block;
    line-height: 40px;

    h1{
        margin-left: 75px;
        font-size: 90px;
        line-height: 111px;
    }

    h2{
        margin-left: 70px;
        font-size: 30px;
        margin-top: -40px;
    }
    
    p{
        line-height: 25px;
        margin-left: 70px;
        color: #959595;
        font-size: 19px;
    }
}

.circle1{
    width: 300px;
    height: 300px;
    text-align-last: right;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.project1{
    float: left;
    .textbox1{
        margin-top: -200px;
        margin-left: 165px;
    }

    h1{
        margin-top: 10px;
        font-size: 50px;
        line-height: 60px;
    }

    h2{
        margin-top: -25px;
    }

    h3{
        letter-spacing: 5px;
    }

    p{
        margin-top: -10px;
        font-size: 20px;
        color: rgb(56, 56, 56);
    }

    img{
        margin-left: 200px;
        margin-top: -70px;
        border-radius: 50%;
        height: 220px;
        width: 250px;
    }
}

.circle2{
    margin-top: 100px;
    float: right;
    width: 300px;
    height: 300px;
    text-align-last: right;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.project2{
    float: right;
    .textbox2{
        margin-top: 200px;
        margin-right: -200px;
    }

    h1{
        margin-top: 10px;
        font-size: 50px;
        line-height: 60px;
    }

    h2{
        margin-top: -25px;
    }

    h3{
        margin-left: 150px;
        letter-spacing: 5px;
    }

    p{
        margin-top: -10px;
        font-size: 20px;
        color: rgb(56, 56, 56);
    }

    img{
        margin-top: 250px;
        margin-right: 400px;
        border-radius: 50%;
        height: 220px;
        width: 250px;
    }
}

.resume{
    margin-top: 800px;
}