.navpg {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Verdana", Geneva, sans-serif;
}

.list_nav {
  float:left;
  font-family: "Verdana", Geneva, sans-serif;
}

.list_nav a {
  display: flow-root;
  color: black;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  border: 2px solid #ff66f5;
  overflow: auto;
  transition: 0.6s all ease;
}

.list_nav a:hover {
  background-color: #ff66f5;
}
